In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [7]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(),True)]

In [8]:
final_struct = StructType(fields=data_schema)

In [9]:
df = spark.read.json('people.json',schema=final_struct)

In [10]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [11]:
type(df['age'])  # it returns the column as a column

pyspark.sql.column.Column

In [13]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [15]:
type(df.select('age'))  # it returns the column as a dataframe

pyspark.sql.dataframe.DataFrame

In [18]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [19]:
df.head(2)[0]

Row(age=None, name='Michael')

In [20]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [22]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.withColumn('doubleage',df['age'] * 2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [26]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [27]:
df.createOrReplaceTempView('people')

In [28]:
results = spark.sql("SELECT * from People")

In [30]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
new_resutls = spark.sql("SELECT * from people WHERE age=30")

In [32]:
new_resutls.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+